{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; border-radius: 1rem; margin: 2rem;">
        <h1 style="font-family: 'Roboto', sans-serif;"> FLIP FOLIO WAIT LIST </h1>

        <form action="/landingpage/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="email_input">
            </div>
            <div style='padding: 1rem'>
                <input type="submit" class="btn btn-primary" value="SUBMIT">
            </div>
            
        </form>
<!-- 
        {% if email_output_list %}
            {% for email_output in email_output_list %}
            <h4>
                {{ email_output.text }}
            </h4>
            {% endfor %}
        {% endif %} -->
    
    </div>

{% endblock %}